/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities*/
.container-header {
    max-width: 1000px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff00006e;
    
}


/* Generics */
body {
    background-color: #282c34;
}

header {
    background-color: white;
    padding: 10px;
    
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.container-main {
    min-height: 460px ;
    padding: 30px 0;
    background-color: lightblue;
}

main {
    max-width: 800px;
    min-height: 400px;
    background-color: white;
    border: 1px dashed red;
    margin: 30px auto;
}

.container {
    min-height:500px ;
    display: flex;
    align-items: center;
    
}

.container.white {
    background-color: white;
}

.container.green {
    background-color: rgb(32, 0, 128);
}
.container-content {
    width: 1000px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;

}

.content-60 {
    width: 60%;
    background-color: #ff00006e;
}

.content-40 {
    width: 40%;
    background-color: pink;
}
